* {
    margin: 0;
}

body {
    background-color: #1f1f1f;
    color: rgb(216, 216, 209);
    font-family: 'Roboto', sans-serif;
    font: 200;
    font-size: 2rem;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: rgb(255, 176, 29);
}

#loadScreen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(43, 43, 43, 0.6);
    backdrop-filter: blur(32px);
    z-index: 20;
}

#loadScreen:hover {
    cursor: none;
}

#loadScreen p {
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

#vectors {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    visibility: hidden;
    z-index: 20;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.boxes {
    background-color: rgb(119, 255, 119);
    height: 50px;
    width: 50px;
    margin: 2rem;
    border-radius: 40%;
    border: 3px solid red;
    position: absolute;
}

#score{
    margin: 2rem;
    position: absolute;
}

.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    perspective: 10px;
    scroll-behavior: smooth;
}

.navigation {
    height: 5rem;
    position: fixed;
    float: right;
    width: 100vw;
    transition: 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 19;
}

.navigation ul, .navigation ul li {
    display: inline-block;
    list-style-type: none;
    margin: 1rem;
    border: none;
    font-size: 1.3rem;
    transition: 0.1s ease-in-out;
    padding: 0rem;
}

.navigation ul li:hover {
    border-bottom: 3px solid rgb(219, 219, 219);
    border-top: 3px solid rgb(219, 219, 219);
    transition: 0.1s ease-in-out;
}

#nav {
    position: fixed;
    z-index: 2;
}


#hide {
    display: flex;
    margin: 2rem;
    font-size: 2rem;
    transition: 0.5s ease-in-out;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

#name {
    font-size: 72px;
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Dancing Script', cursive; */
}

.background, .foreground {
    position: absolute;
}

.background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-20px) scale(3);
}

.foreground {
    z-index: 1;
    transform: translateZ(-10px) scale(2);
}

.matter {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2f2f2f;
    font-family: 'Poppins', sans-serif;
    padding: 3rem;
}

.matter h1, .matter h3 {
    font-family: 'Lobster', cursive;
}

.matter span {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

#aboutMe, .projMatter {
    height: 100vh;
}

.projMatter p {
    width: 40vw;
}

.myProjects {
    display: grid;
}

.projMatter span {
    display: flex;
}

.langsKnownWrapper {
    display: grid;
    height: 90vh;
}

.contacts {
    height: 80vh;
}

#langsKnown {
    display: flex;
}

#firstFour, #secondFour {
    display: grid;
    margin: 2rem;
}

#social {
    list-style-type: none;
    display: flex;
}

.fa-brands, .fa-solid {
    margin: 2rem;
    font-size: 10rem;
}

.fa-angle-down, .fa-angle-right, #carretDown {
    display: none;
    font-size: 0rem;
}

.fa-arrow-up {
    margin: inherit;
    font-size: inherit;
}

.toTop {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(39, 39, 39);
    border: none;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.top:hover {
    cursor: pointer;
}

.toTop:hover {
    border-top: none;
    border-bottom: none;
}

#aboutMe, #myProjects, .langsKnownWrapper, #contacts {
    padding-top: 5rem;
}

#down {
    position: fixed;
    top: 80%;
    font-size: inherit;
    animation-name: swipe;
    animation-duration: 2s;
    /* -webkit-animation-name: swipe; */
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes swipe {
    0% {
        top: 80%;
    }

    40% {
        top: 86%;
    }

    50% {
        top: 83%;
    }

    60% {
        top: 86%;
    }

    100% {
        top: 80%;
    }
}

@keyframes colorChange {
    0% {
        background-color: rgb(255, 105, 105);
    }

    25% {
        background-color: rgb(108, 255, 105);
    }

    50% {
        background-color: rgb(105, 245, 255);
    }

    75% {
        background-color: rgb(208, 105, 255);
    }

    100% {
        background-color: rgb(255, 105, 105);
    }
}

progress {
    height: 2rem;
    border-radius: 0.5rem;
}

::-webkit-progress-bar {
    height: 2rem;
    border: 1px solid rgb(202, 202, 202);
    background-color: #424141;
    border-radius: 0.5rem;
}

::-webkit-progress-inner-element, ::-webkit-progress-value {
    border-radius: 0.5rem;
    background-color: rgb(255, 176, 29);
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 480px) {
    .background {
        height: 100vh;
        width: min-content;
        font-style: 1rem;
    }

    .matter, .langsKnown {
        font-size: 1rem;
    }

    #name {
        font-size: 2rem;
    }

    progress {
        height: 2rem;
    }

    #nav, .navigation {
        height: 3rem;
        display: grid;
    }

    .toTop {
        display: none;
    }

    .navigation ul {
        display: grid;
        margin: 0rem;
        padding: 0rem;
        width: 100vw;
        height: 50vh;
        align-items: center;
        justify-items: center;
        align-content: space-evenly;
        z-index: 0;
        margin-top: -200vh;
        background-color: rgb(47, 47, 47);
    }

    #navUl {
        margin-top: -200vh;
    }

    #hide {
        display: flex;
        height: 3rem;
        margin: 0rem;
        margin-left: 2rem;
        font-size: 1.5rem;
        transition: 0.5s ease-in-out;
        opacity: 0;
        z-index: 1;
    }

    #aboutMe {
        height: 70vh;
    }

    .projMatter {
        height: max-content;
    }

    .projMatter p {
        width: fit-content;
    }

    .projMatter span {
        margin: 0rem;
        padding: 0rem;
        display: grid;
        justify-items: center;
    }

    .matter img {
        margin: 2rem;
        height: 152px;
        width: 152px;
    }

    #langsKnown {
        display: grid;
    }

    #langsKnown div {
        margin: 0rem;
    }

    #langsKnown progress {
        margin: 0.5rem;
    }

    #contacts {
        height: fit-content;
    }

    #social {
        flex-wrap: wrap;
    }

    .fa-angle-down, .fa-angle-right {
        transition: 0.1s ease-in-out;
    }

    .fa-brands, .fa-solid {
        font-size: 2rem;
    }

    .fa-angle-down, .fa-angle-right, #carretDown {
        display: block;
        margin: 0rem;
        padding: 0.7rem;
        visibility: visible;
        font-size: 1.5rem;
    }
}